* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 1000px;
  transition: 500ms;
  margin: auto;
}

header {
  z-index: 2;
  display: flex;
  background-color: #e8bc0e;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: relative;
}
header ul {
  display: flex;
  gap: 80px;
  margin-left: 200px;
}
header li {
  list-style: none;
  cursor: pointer;
  color: #453e3b;
}
header li:hover {
  color: black;
}

.sortFromName {
  box-shadow: 1px 1px #453e3b;
  top: -10px;
  left: 10%;
  background-color: white;
  position: absolute;
  width: 150px;
  text-align: center;
  z-index: -1;
  transition: 500ms;
}
.sortFromName p {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.948);
  padding: 10px 0;
}
.sortFromName p:hover {
  background-color: rgba(0, 0, 0, 0.218);
}

.sortFromAge {
  box-shadow: 1px 1px #453e3b;
  top: -10px;
  left: 18%;
  background-color: white;
  position: absolute;
  width: 150px;
  text-align: center;
  z-index: -1;
  transition: 500ms;
}
.sortFromAge p {
  cursor: pointer;
  background-color: white;
  padding: 10px 0;
}
.sortFromAge p:hover {
  background-color: rgba(0, 0, 0, 0.218);
}

.sortFromRegion {
  box-shadow: 1px 1px #453e3b;
  top: -390px;
  left: 24%;
  background-color: white;
  position: absolute;
  width: 150px;
  text-align: center;
  z-index: -1;
  transition: 1200ms;
}
.sortFromRegion p {
  cursor: pointer;
  background-color: white;
  padding: 10px 0;
}
.sortFromRegion p:hover {
  background-color: rgba(0, 0, 0, 0.218);
}

.sortFromGender {
  box-shadow: 1px 1px #453e3b;
  top: -10px;
  left: 33%;
  background-color: white;
  position: absolute;
  width: 150px;
  text-align: center;
  z-index: -1;
  transition: 500ms;
}
.sortFromGender p {
  cursor: pointer;
  background-color: white;
  padding: 10px 0;
}
.sortFromGender p:hover {
  background-color: rgba(0, 0, 0, 0.218);
}

.sortFromTime {
  box-shadow: 1px 1px #453e3b;
  top: -10px;
  left: 42%;
  background-color: white;
  position: absolute;
  width: 150px;
  text-align: center;
  z-index: -1;
  transition: 500ms;
}
.sortFromTime p {
  cursor: pointer;
  background-color: white;
  padding: 10px 0;
}
.sortFromTime p:hover {
  background-color: rgba(0, 0, 0, 0.218);
}

.burger_button {
  margin-right: 200px;
}
.burger_button button {
  border-radius: 5px;
  background-color: #453e3b;
  color: #e8bc0e;
  padding: 6px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
}
.burger_button button:hover {
  background-color: black;
}

.user_table {
  display: flex;
  justify-content: center;
  transition: 500ms;
}
.user_table h2 {
  font-size: 26px;
  color: #453e3b;
  margin: 30px 0;
}
.user_table table {
  width: 600px;
  margin-top: 100px;
}
.user_table table,
.user_table thead,
.user_table tbody,
.user_table td,
.user_table tr,
.user_table th {
  padding: 5px;
  align-items: center;
  color: #453e3b;
  border: 1px solid #453e3b;
  border-collapse: collapse;
}

.sign_up {
  display: grid;
  grid-template-columns: auto;
  padding-top: 100px;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453e3b;
  height: 100vh;
  transition: 500ms;
}
.sign_up .items_container h1 {
  color: #e8bc0e;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.sign_up .items_container input {
  padding: 10px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
}
.sign_up .items_container label {
  cursor: pointer;
  color: #e8bc0e;
  margin: 0 10px 0 20px;
}
.sign_up .items_container label:first-child {
  margin-left: 0;
  margin-right: 10px;
}
.sign_up .items_container select {
  margin: 20px 0;
  padding: 6px 50px;
  border: 1px solid #453e3b;
  outline: none;
  border-radius: 5px;
}
.sign_up .items_container select option {
  padding: 20px;
}
.sign_up .items_container button {
  margin-top: 20px;
  padding: 10px 75px;
  border: none;
  border-radius: 5px;
  background-color: #e8bc0e;
  color: #453e3b;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}
.sign_up .items_container .close {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e8bc0e;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #453e3b;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
}
.sign_up .items_container .container {
  transform: translateX(-200px);
}

.active .sign_up {
  left: calc(100% - 500px);
}
.active .user_table {
  transform: translateX(-200px);
}

.sortActiveName .sortFromName {
  top: 73px;
  z-index: 1;
}

.sortActiveAge .sortFromAge {
  z-index: 1;
  top: 73px;
}

.sortActiveRegion .sortFromRegion {
  z-index: 1;
  top: 73px;
}

.sortActiveGender .sortFromGender {
  top: 73px;
  z-index: 1;
}

.sortActiveTime .sortFromTime {
  top: 73px;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
